css body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav il li a:hover,
.dropdown:hover .dropbtn {
    background-color: #111;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul li.dropdown:hover .dropdown-content {
    display: block;
}